<html>
  <head>
    <title>Classify entities into ontology</title>
    <meta charset="UTF-8">
    <script type='text/javascript' src='/static/entity/shared.js'></script>
    <script type='text/javascript'>
      function allowDropOnto(ev) {
	  ev.preventDefault();
      }
      function dragOnto(ev) {
	  ev.dataTransfer.setData("text", "!" + ev.target.parentElement.id);
	  //console.log("Dragging: ", ev.target.parentElement.id);
      }
      function dropOnto(ev) {
	  ev.preventDefault();
	  var targetDiv = document.getElementById(ev.target.parentElement.id);
	  var sourceId = ev.dataTransfer.getData("text");
	  var sourceDiv;
	
	  if (sourceId.startsWith("!")) {
	      sourceDiv = document.getElementById(sourceId.substring(1));
	      insertEntity(targetDiv, sourceDiv);
	  }
	  else {
	      var iframe = document.getElementById("annotated_frame");
	      var if_doc = iframe.contentDocument
		  || iframe.contentWindow.document;
	      var sourceSpan = if_doc.getElementById(sourceId);
	      var names = sourceSpan.getAttribute("alt").split(",");
	      for (var i=0; i<names.length; i++) {
		  var sourceDiv = createEntity(names[i]);
		  insertEntity(targetDiv, sourceDiv);
	      }
	  }
      }
      function selectEntity(div) {
	  if (div.className.indexOf("selected ") < 0) {
	      div.className = "selected " + div.className;
	  }
	  else {
	      div.className = div.className.replace("selected ", "");
	  }
      }
      function formatElementList() {
	  var input = document.getElementById("ontology_input");
	  input.value = createElementList();
	  document.getElementById("download_ontology").submit();
      }
      function createElementList() {
	  var iframe = document.getElementById("ontology_frame");
	  var if_doc = iframe.contentDocument || iframe.contentWindow.document;

	  var top = if_doc.getElementById("top");
	  var value = "";
	  for (var i=0; i<top.children.length; i++) {
	      if (top.children[i].className == "entity") {
		  value += formatElement(top.children[i]);
	      }
	  }
	  return value;
      }
      function formatElement(elem) {
	  var value = "";
	  for (var i=0; i<elem.children.length; i++) {
	      if (elem.children[i].className == "entity") {
		  value += elem.id + "," + elem.children[i].id + ";";
		  value += formatElement(elem.children[i]);
	      }
	  }
	  return value;
      }
      function formatAnnotated() {
	  var input = document.getElementById("annotated_input");
	  input.value = createAnnotated();
	  document.getElementById("download_annotated").submit();
      }
      function createAnnotated() {
	  var iframe = document.getElementById("annotated_frame");
	  var iframe_doc = iframe.contentDocument
	      || iframe.contentWindow.document;

	  // clean up the divs and spans
	  var content = iframe_doc.body.cloneNode(true);

	  var div = content.getElementsByTagName("div");
	  for (var i=0; i<div.length; i++) {
	      toggleSelectableDiv(div[i], i);
	  }
	  var span = content.getElementsByTagName("span");
	  for (var i=0; i<span.length; i++) {
	      toggleDraggableSpan(span[i]);
	  }
	  return content.innerHTML;
      }
      function startAutoSave() {
	  var ont_input = document.getElementById("ontology_save");
	  var ant_input = document.getElementById("annotated_save");
	  var filename = document.getElementById("filename_save");
	  
	  ont_input.value = createElementList();
	  ant_input.value = createAnnotated();
	  document.getElementById("autosave_form").submit();
      }
      function setAnnotated() {
	  var select = document.getElementById("select_annotated");
	  var html = select.options[select.selectedIndex].value;
	  var iframe = document.getElementById("annotated_frame");
	  iframe.src = "annotated?html=" + html;
	  
	  var filename = document.getElementById("filename_save");
	  filename.value = html;
      }
      function toggleVisible(id) {
	  var e = document.getElementById(id);
	  if (e.style.display == 'block') {
	      e.style.display = 'none';
	  }
	  else{
	      e.style.display = 'block';
	  }
      }
      function toggleFiltered(filter) {
	  // find all the entity names in the ontology
	  var iframe = document.getElementById("ontology_frame");
	  var if_doc = iframe.contentDocument || iframe.contentWindow.document;

	  var top = if_doc.getElementById("top");
	  var entity = flattenOntology(top);

	  // change the class names of the corresponding spans
	  var aframe = document.getElementById("annotated_frame");
	  var af_doc = aframe.contentDocument || aframe.contentWindow.document;

	  var span = af_doc.getElementsByTagName("span");
	  for (var i=0; i<span.length; i++) {
	      if (span[i].className.indexOf("coded_i") < 0) {
		  continue;
	      }

	      // for each span entity name, check for match in ontology
	      var name = span[i].getAttribute("alt").split(",");
	      for (var j=0; j<name.length; j++) {
		  var found = false;
		  for (var k=0; k<entity.length; k++) {
		      if (name[j].localeCompare(entity[k]) == 0) {
			  if (!filter) {
			      span[i].className = span[i].className.replace("filtered ", "");
			  }
			  else {
			      span[i].className = "filtered " + span[i].className;
			  }
			  found = true;
			  break;
		      }
		  }
		  if (found) {
		      break;
		  }
	      }
	  }
      }
      function flattenOntology(div) {
	  var entity = [];
	  for (var i=0; i<div.children.length; i++) {
	      if (div.children[i].className == "branch") {
		  continue;
	      }
	      else if (div.children[i].className == "label") {
		  entity.push(div.children[i].innerHTML);
	      }
	      else {
		  var next = flattenOntology(div.children[i]);
		  entity = entity.concat(next);
	      }
	  }
	  return entity;
      }

</script>
  </head>
  <body>
    <style type="text/css">
      body {
	  font-size: 10pt;
      }
      #annotated_panel {
	  width: 45%;
	  height: 100%;
	  float: left;
	  margin: 10px;
      }
      #annotated_frame {
	  overflow: scroll;
	  width: 100%;
	  height: 100%;
	  border: 1px solid black;
	  padding: 10px;

      }
      #ontology_frame {
	  overflow: scroll;
	  width: 45%;
	  height: 100%;
	  border: none;
	  float: right;
	  margin: 10px;
      }
      #settings_panel {
	  border: 1px solid black;
	  padding: 10px;
	  width: 45%;
	  float: right;
	  margin: 10px;
      }
      #settings {
	  display: none;
	  font-size: 10pt;
	  margin-top: 10px;
      }
      #settings td.header {
	  background-color: #ccccff;
	  padding: 5px;
      }
    </style>

    <div id="annotated_panel">
      <p>Click to select one or more spans. Press 's' to add a new span, or 'd' to delete selected span(s).</p>
      <form>
	<input type="checkbox" onclick="toggleFiltered(this.checked)" /> Show annotations in the ontology.
      </form>
    <iframe id="annotated_frame" name="annotated_frame" src="annotated?html={{html}}"></iframe>
    </div>

    <div id="settings_panel">
      <a href="javascript:toggleVisible('settings')">Modify Settings</a>
      <table id="settings">
	<tr>
	  <td class="header">Options for the annotated text</td>
	</tr>
	<tr>
	  <td>
	    <form>
	      <select id="select_annotated" name="html">
		{% for file in files %}
		<option>{{file}}</option>
		{% endfor %}
	      </select>
	      <input type="button" value="Read" onclick="setAnnotated()" />
	    </form>
	    
	    <form action="upload" method="POST" enctype="multipart/form-data" target="annotated_frame">
	      {% csrf_token %}
	      Import text: <input type="file" name="annotated" />
	      <br />
	      <input type="submit" value="Upload" />
	    </form>
	    
            <form id="download_annotated" action="download" method="POST" target="download_frame">
	      {% csrf_token %}
	      Export text: <input type="button" value="Download" onclick="formatAnnotated()" />
	      <input id="annotated_input" type="hidden" name="annotated" value="" />
	    </form>
	  </td>
	</tr>
	<tr>
	  <td class="header">Options for the ontology</td>
	</tr>
	<tr>
	  <td>
	    <form action="upload" method="POST" enctype="multipart/form-data" target="ontology_frame">
	      {% csrf_token %}
	      Import ontology: <input type="file" name="ontology" />
	      <input type="submit" value="Upload" />
	    </form>
	    
	    <form id="download_ontology" action="download" method="POST" target="download_frame">
	      {% csrf_token %}
	      Export ontology: <input type="button" value="Download" onclick="formatElementList()" />
	      <input id="ontology_input" type="hidden" name="ontology" value="" />
	    </form>
	  </td>
	</tr>
	<tr>
	  <td class="header">Enable auto-save by saving once</td>
	  <td>
	</tr>
	<tr>
	  <td>
	    <form id="autosave_form" action="save" method="POST" enctype="multipart/form-data" target="download_frame">
	      {% csrf_token %}
	      Enter your userid <input type="text" name="userid" size="12" />
	      <input type="button" value="Save" onclick="startAutoSave()" />
	      <input type="hidden" id="ontology_save" name="ontology" value="" />
	      <input type="hidden" id="annotated_save" name="annotated" value="" />
	      <input type="hidden" id="filename_save" name="filename" value="default" />
	    </form>
	  </td>
	</tr>
      </table>
    </div>

    <iframe id="ontology_frame" name="ontology_frame" src="ontology"></iframe>
    
    <iframe name="download_frame"></iframe>
  </body>
</html>
