<html>
  <head>
    <title>Classify entities into ontology</title>
    <meta charset="UTF-8">
    <script type='text/javascript' src='/static/entity/shared.js'></script>
    <script type='text/javascript'>
      var autoSaveHandle = null;

      function downloadOntology() {
	  saveProject();
	  document.getElementById("dl_ontology").submit();
      }
      function createElementList() {
	  var iframe = document.getElementById("ontology_frame");
	  var if_doc = iframe.contentDocument || iframe.contentWindow.document;

	  var top = if_doc.getElementById("e0");
	  var value = "";

	  // top is null if no ontology is loaded
	  if (top == null) {
	      return value;
	  }
	  value = formatElement(top);
	  return value;
      }
      function formatElement(elem) {
	  var value = "";
	  for (var i=0; i<elem.children.length; i++) {
	      if (elem.children[i].className == "entity") {
		  value += elem.id + "," + elem.children[1].innerHTML + "," +  elem.children[i].id + "," + elem.children[i].children[1].innerHTML + ";";
		  value += formatElement(elem.children[i]);
	      }
	  }
	  return value;
      }
      function formatAnnotated() {
	  saveProject();
	  document.getElementById("dl_annotated").submit();
      }
      function createAnnotated() {
	  var iframe = document.getElementById("annotated_frame");
	  var iframe_doc = iframe.contentDocument
	      || iframe.contentWindow.document;

	  // clean up the divs and spans
	  var content = iframe_doc.cloneNode(true);

	  var div = content.getElementsByTagName("div");
	  for (var i=0; i<div.length; i++) {
	      toggleSelectableDiv(div[i], i);
	  }
	  var span = content.getElementsByTagName("span");
	  for (var i=0; i<span.length; i++) {
	      toggleDraggableSpan(span[i]);
	  }
	  return content.innerHTML;
      }
      function autoSaveProject(checked) {
	  if (checked) {
	      autoSaveHandle = window.setInterval(function b() {
		  saveProject(); }, 60000);
	  }
	  else {
	      window.clearInterval(autoSaveHandle);
	  }
      }
      function saveProject() {
	  // save the annotated html
	  var aframe = document.getElementById("annotated_frame");
	  var af_doc = aframe.contentDocument || aframe.contentWindow.document;
	  var ainput = document.getElementById("as_annotated_input");

	  // disable draggable and selectable while saving
	  toggleDraggable(aframe);
	  toggleSelectable(aframe);
	  ainput.value = af_doc.documentElement.innerHTML;
	  document.getElementById("autosave_annotated").submit();
	  toggleDraggable(aframe);
	  toggleSelectable(aframe);
	  
	  // save the ontoloy
	  var oinput = document.getElementById("as_ontology_input");
	  oinput.value = createElementList();
	  document.getElementById("autosave_ontology").submit();

	  // update the last saved time
	  var d = new Date();
	  var timestamp = d.getHours() + ":" + d.getMinutes() + ":"
	      + d.getSeconds() + " " + (d.getMonth() + 1)
	      + "/" + d.getDay() + "/" + d.getFullYear();
	  document.getElementById("lastime_saved").innerHTML = ", last saved: " + timestamp;
      }
      function toggleVisible(id) {
	  var e = document.getElementById(id);
	  if (e.style.display == 'block') {
	      e.style.display = 'none';
	  }
	  else {
	      e.style.display = 'block';
	  }
      }
      function toggleFiltered(filter) {
	  // find all the entity names in the ontology
	  var iframe = document.getElementById("ontology_frame");
	  var if_doc = iframe.contentDocument || iframe.contentWindow.document;

	  var top = if_doc.getElementById("top");
	  var entity = flattenOntology(top);

	  // change the class names of the corresponding spans
	  var aframe = document.getElementById("annotated_frame");
	  var af_doc = aframe.contentDocument || aframe.contentWindow.document;

	  var span = af_doc.getElementsByTagName("span");
	  for (var i=0; i<span.length; i++) {
	      if (span[i].className.indexOf("coded_i") < 0) {
		  continue;
	      }

	      // for each span entity name, check for match in ontology
	      var name = span[i].getAttribute("alt").split(",");
	      for (var j=0; j<name.length; j++) {
		  var found = false;
		  for (var k=0; k<entity.length; k++) {
		      if (name[j].localeCompare(entity[k]) == 0) {
			  if (!filter) {
			      span[i].className = span[i].className.replace("filtered ", "");
			  }
			  else {
			      span[i].className = "filtered " + span[i].className;
			  }
			  found = true;
			  break;
		      }
		  }
		  if (found) {
		      break;
		  }
	      }
	  }
      }
      function flattenOntology(div) {
	  var entity = [];
	  for (var i=0; i<div.children.length; i++) {
	      if (div.children[i].className == "branch") {
		  continue;
	      }
	      else if (div.children[i].className == "label") {
		  entity.push(div.children[i].innerHTML);
	      }
	      else {
		  var next = flattenOntology(div.children[i]);
		  entity = entity.concat(next);
	      }
	  }
	  return entity;
      }
      function toggleDraggable(iframe) {
	  var doc = iframe.contentDocument || iframe.contentWindow.document;

	  // iterate all spans and make drag and drop targets
	  var span = doc.getElementsByTagName("span");
	  var spanCounter = span.length;

	  for (var i=0; i <span.length; i++) {
	      if (span[i].className.indexOf("coded_i") > -1) {
		  if (span[i].getAttribute("id") == null) {
		      span[i].setAttribute("id", "s" + spanCounter);
		      spanCounter++;
		  }
		  toggleDraggableSpan(span[i]);
	      }
	  }
      }
      function toggleSelectable(iframe) {
	  var doc = iframe.contentDocument || iframe.contentWindow.document;

	  // set the paragraphs to selectable
	  var div = doc.getElementsByTagName('div');
	  for (var i=0; i<div.length; i++) {
	      toggleSelectableDiv(div[i], i);
	  }
      }


</script>
  </head>
  <body>
    <style type="text/css">
      body {
	  font-size: 10pt;
      }
      #annotated_panel {
	  width: 45%;
	  height: 100%;
	  float: left;
	  margin: 10px;
      }
      #annotated_frame {
	  overflow: scroll;
	  width: 100%;
	  height: 100%;
	  border: 1px solid black;
	  padding: 10px;

      }
      #ontology_frame {
	  overflow: scroll;
	  width: 45%;
	  height: 100%;
	  border: none;
	  float: right;
	  margin: 10px;
      }
      #settings_panel {
	  border: 1px solid black;
	  padding: 10px;
	  width: 45%;
	  float: right;
	  margin: 10px;
      }
      #settings {
	  font-size: 10pt;
	  margin-top: 10px;
	  width: 100%;
      }
      #settings td.header {
	  background-color: #ccccff;
	  padding: 5px;
      }
    </style>

    <div id="annotated_panel">
      <p><b>Viewing: {% if proj == "" %}None{% endif %}<span id="viewing_proj">{{proj}}</span>.</b>
      <p>Click to select one or more spans. Press 's' to add a new span, or 'd' to delete selected span(s).</p>
    <iframe id="annotated_frame" name="annotated_frame" src="annotated?userid={{userid}}&proj={{proj}}" onload="toggleDraggable(this);toggleSelectable(this)"></iframe>
    </div>

    <div id="settings_panel">
      <a href="javascript:toggleVisible('settings')">View/Hide Settings</a>
      <table id="settings" style="display:block;">
	<tr>
	  <td class="header">Manage your current projects</td>
	</tr>
	<tr>
	  <td>
	    <form action="" method="POST">
	      {% csrf_token %}
	      Enter your userid: <input type="text" id="userid" name="userid" value="{{userid}}" />
	      <input type="submit" value="Login" />
	    </form>

	    {% if userid != "" %}
	    <form action="" method="POST" enctype="multipart/form-data">
	      {% csrf_token %}
	      <input type="hidden" name="userid" value="{{userid}}" />
	      <select id="select_project" name="proj">
		{% for project in projects %}
		<option
		   {% if project == proj %}selected="selected"{% endif %}>
		   {{project}}</option>
		{% endfor %}
	      </select>
	      <input type="submit" value="Open" />
	    </form>

	    <form action="" method="POST" enctype="multipart/form-data">
	      {% csrf_token %}
	      <input type="hidden" name="userid" value="{{userid}}" />
	      <select id="select_html" name="html">
		{% for html in project_html %}
		<option>{{html}}</option>
		{% endfor %}
	      </select>
	      <input type="submit" value="Create" />
	    </form>

	    <form>
	      <input type="button" value="Save" onclick="saveProject()" />
	      <input type="checkbox" onclick="autoSaveProject(this.checked)" /> Activate autosave<span id="lastime_saved"></span>
	    </form>
	    
	  </td>
	</tr>
	<tr>
	  <td class="header">Options for annotated text</td>
	</tr>
	<tr>
	  <td>
	    <form>
	      <input type="checkbox" onclick="toggleFiltered(this.checked)" /> Show which annotations appear in the ontology
	    </form>

	    <form action="annotated?userid={{userid}}" method="POST" enctype="multipart/form-data" target="async_frame">
	      {% csrf_token %}
	      Import new HTML: <input type="file" name="html" />
	      <input type="button" value="Upload" onclick="importAnnotated()" />
	    </form>
	    
	    <form id="dl_annotated" action="download?userid={{userid}}" method="POST" target="async_frame">
	      {% csrf_token %}
	      <input id="dl_annotated_file" type="hidden" name="proj" value="{{proj}}.html" />
	      Export project HTML: <input type="button" value="Download" onclick="downloadAnnotated()" />
	    </form>
	  </td>
	</tr>
	<tr>
	  <td class="header">Options for the ontology</td>
	</tr>
	<tr>
	  <td>
	    <form action="ontology?userid={{userid}}" method="POST" enctype="multipart/form-data" target="ontology_frame">
	      {% csrf_token %}
	      <input id="ul_ontology_proj" type="hidden" name="proj" value="{{proj}}" />
	      Import project ontology: <input type="file" name="ontology" />
	      <input type="submit" value="Upload" />
	    </form>
	    
	    <form id="dl_ontology" action="download?userid={{userid}}" method="POST" target="async_frame">
	      {% csrf_token %}
	      <input id="dl_ontology_file" type="hidden" name="file" value="{{proj}}.csv" />
	      Export project ontology: <input type="button" value="Download" onclick="downloadOntology()" />
	    </form>
	    {% endif %}
	  </td>
	</tr>
      </table>
    </div>

    <iframe id="ontology_frame" name="ontology_frame" src="ontology?userid={{userid}}&proj={{proj}}"></iframe>
    
    <iframe name="async_frame" style="display:none"> </iframe>

    <form id="autosave_annotated" action="annotated?userid={{userid}}" method="POST" enctype="multipart/form-data" target="async_frame">
      {% csrf_token %}
      <input type="hidden" name="proj" value="{{proj}}" />
      <input id="as_annotated_input" type="hidden" name="annotated" value="" />
    </form>

    <form id="autosave_ontology" action="ontology?userid={{userid}}" method="POST" enctype="multipart/form-data" target="async_frame">
      {% csrf_token %}
      <input type="hidden" name="proj" value="{{proj}}" />
      <input id="as_ontology_input" type="hidden" name="ontology" value="" />
    </form>
  </body>
</html>
